@model BusinessDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


@{
    var businessName = Model?.business?.Name ?? "Business";

    var photoPath = string.Empty;
    if( Model?.business?.businessPhotos != null)
    {
        photoPath = "~/images/" + (Model?.business?.Name?.ToString()) + "/" + Model?.business?.businessPhotos[0]?.Photo?.ToString() ?? "prof.png"; //2 way checks
    }
    else
    {
        photoPath = "~/images/prof.png";
    }
}

    
<hr />

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        @*image card*@
        <div class="card" style="height: 660px;">
            <div class="card-body">
                <h3>@businessName Details</h3>
                <hr />
                <img src="@photoPath" class="img img-thumbnail" alt="@businessName" asp-append-version="true" style="height: 480px" />
            </div>

            <div class="card-footer text-muted">
                <button class="btn btn-warning">Change Profile Picture</button>
            </div>
        </div>

        @*about the business*@
        <br>
        <div>
            <hr />
            <h2>
                About Company Page
            </h2><hr />
            <h5 class="card-title">
                Company {company name} specializ in {sector} and has been in operation
                since {operating year/operating month}
            </h5>
            <hr />
        </div>

        @*Contact and location form*@
        <br>
        <div>
            <h2>
                Company Information
            </h2><hr />
            <form>
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>Phone</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Phone" placeholder="Phone" disabled>
                    </div>
                    <div class="col">
                        <label>
                            <b>Email</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Email" placeholder="Email" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>City</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.City" placeholder="City" disabled>
                    </div>
                    <div class="col">
                        <label>
                            <b>Province</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Province" placeholder="Province" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>Number Of Staffs</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.NoOfStaffs" placeholder="NoOfStaffs" disabled>
                    </div>
                    <div class="col">
                        <label asp-for="@Model.business.Country">
                            <b>Country</b>
                        </label>
                        <input type="text" name="Country" class="form-control" value="@Model.business.Country" placeholder="Country" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <button class="btn btn-primary" id="unlockEdit" @*data-bind="click: unlockEdit"*@>Edit Contact Information</button>
                </div>
            </form>
        </div>

        <div>
            @if(Model.business.businessEmployees != null)
            {
                @foreach(var employee in Model?.business?.businessEmployees)
                {
                     var employeeFullname = employee.Firstname + " " + @employee.Lastname;
                     
                     <div class="card">
                         <div class="card-header">
                             <center>
                                 <img class="img img-thumbnail" src="@photoPath" alt="@employeeFullname" style="width: 200px; height: 200px" />
                             </center>
                         </div>
                     
                         <div class="card-body">
                             <div class="row">
                                 <div class="col-md-3"></div>
                                 <div class="col-md-6">
                                     <div>
                                         <label>Firstname</label>
                                         <p>@employee.Firstname</p>
                     
                                         <label>Lastname</label>
                                         <p>@employee.Lastname</p>
                                     </div>
                                 </div>
                                 <div class="col-md-3"></div>
                             </div>
                         </div>
                     </div>
                 }
             }
        </div>
    </div>

    <div class="col-md-2"></div>
</div>

    



    <script src="~/lib/knockout/knockout-latest.js"></script>

    <script type="text/javascript">
        @*alert(@photoPath);*@

        function AppViewModel() {
            var self = this;

            this.enable = function () {
                alert("Just Testing");
            }

            self.unlockEdit = function () {
                
            }
        }

        //binding to AppViewModel function : KnockoutJs
        //$(document).ready(function () {
        //    var vm = new AppViewModel();
        //    vm.Initialize();
        //    ko.applyBindings(vm);
        //});

        //ko.applyBindings(new AppViewModel());
       
        ko.applyBindings(new AppViewModel());

    </script>













