@model BusinessDetailsViewModel



<style>
    @@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

    /** {
        box-sizing: border-box;
    }*/

    /*body {
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
        min-height: 100vh;
        font-family: 'Fira Sans', sans-serif;
        display: flex;
    }*/

    .blog-slider {
        width: 95%;
        position: relative;
        max-width: 800px;
        margin: auto;
        background: #fff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 25px;
        border-radius: 25px;
        height: 400px;
        transition: all .3s;
    }

    @@media screen and (max-width: 992px) {
        .blog-slider {
            max-width: 680px;
            height: 400px;
        }
    }

    @@media screen and (max-width: 768px) {
        .blog-slider {
            min-height: 500px;
            height: auto;
            margin: 180px auto;
        }
    }

    @@media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider {
            height: 350px;
        }
    }

    .blog-slider__item {
        display: flex;
        align-items: center;
    }

    @@media screen and (max-width: 768px) {
        .blog-slider__item {
            flex-direction: column;
        }
    }

    .blog-slider__item.swiper-slide-active .blog-slider__img img {
        opacity: 1;
        transition-delay: .3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content > * {
        opacity: 1;
        transform: none;
    }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
            transition-delay: 0.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
            transition-delay: 0.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
            transition-delay: 0.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
            transition-delay: 0.7s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
            transition-delay: 0.8s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
            transition-delay: 0.9s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
            transition-delay: 1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
            transition-delay: 1.1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
            transition-delay: 1.2s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
            transition-delay: 1.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
            transition-delay: 1.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
            transition-delay: 1.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
            transition-delay: 1.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
            transition-delay: 1.7s;
        }

    .blog-slider__img {
        width: 300px;
        flex-shrink: 0;
        height: 300px;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
        border-radius: 20px;
        transform: translateX(-80px);
        overflow: hidden;
    }

        .blog-slider__img:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
            border-radius: 20px;
            opacity: 0.8;
        }

        .blog-slider__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            opacity: 0;
            border-radius: 20px;
            transition: all .3s;
        }

    @@media screen and (max-width: 768px) {
        .blog-slider__img {
            transform: translateY(-50%);
            width: 90%;
        }
    }

    @@media screen and (max-width: 576px) {
        .blog-slider__img {
            width: 95%;
        }
    }

    @@media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider__img {
            height: 270px;
        }
    }

    .blog-slider__content {
        padding-right: 25px;
    }

    @@media screen and (max-width: 768px) {
        .blog-slider__content {
            margin-top: -80px;
            text-align: center;
            padding: 0 30px;
        }
    }

    @@media screen and (max-width: 576px) {
        .blog-slider__content {
            padding: 0;
        }
    }

    .blog-slider__content > * {
        opacity: 0;
        transform: translateY(25px);
        transition: all .4s;
    }

    .blog-slider__code {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    .blog-slider__title {
        font-size: 24px;
        font-weight: 700;
        color: #0d0925;
        margin-bottom: 20px;
    }

    .blog-slider__text {
        color: #4e4a67;
        margin-bottom: 30px;
        line-height: 1.5em;
    }

    .blog-slider__button {
        display: inline-flex;
        background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
        text-decoration: none;
        font-weight: 500;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
    }

    @@media screen and (max-width: 576px) {
        .blog-slider__button {
            width: 100%;
        }
    }

    .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .blog-slider__pagination {
        position: absolute;
        z-index: 21;
        right: 20px;
        width: 11px !important;
        text-align: center;
        left: auto !important;
        top: 50%;
        bottom: auto !important;
        transform: translateY(-50%);
    }

    @@media screen and (max-width: 768px) {
        .blog-slider__pagination {
            transform: translateX(-50%);
            left: 50% !important;
            top: 205px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0;
    }

    @@media screen and (max-width: 768px) {
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px;
        }
    }

    .blog-slider__pagination .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: #062744;
        opacity: 0.2;
        transition: all .3s;
    }

    .blog-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fd3838;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
    }

    @@media screen and (max-width: 768px) {
        .blog-slider__pagination .swiper-pagination-bullet-active {
            height: 11px;
            width: 30px;
        }
    }


    /*Employees styling template*/
    body {margin:2rem;}
    
    /*
    ####################################################
    M E D I A  Q U E R I E S
    ####################################################
    */
    
    /*
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    Bootstrap 4 breakpoints
    */
    
    /* 
    Extra small devices (portrait phones, less than 544px) 
    No media query since this is the default in Bootstrap because it is "mobile first"
    */
    
    
    /* Small devices (landscape phones, 544px and up) */
    @@media (min-width: 544px) {  
    
    }
    
    /* Medium devices (tablets, 768px and up) 
    The navbar toggle appears at this breakpoint */
    @@media (min-width: 768px) {  
    
    }
    
    /* Large devices (desktops, 992px and up) */
    @@media (min-width: 992px) { 
    
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @@media (min-width: 1200px) {  
        
    }
    
    
    
    /*
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    Custom media queries
    */
    
    @@media (max-width: 950px) { 
    
    }

    /*add button style*/
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
        border: 1px solid black;
    }
</style>

@{
    ViewData["Title"] = "Details";
}


@{
    var businessName = Model?.business?.Name ?? "Business";

    var photoPath = string.Empty;
    if (Model?.business?.businessPhotos != null)
    {
        photoPath = "~/images/" + (Model?.business?.Name?.ToString()) + "/" + Model?.business?.businessPhotos[0]?.Photo?.ToString() ?? "prof.png"; //2 way checks
    }
    else
    {
        photoPath = "~/images/prof.png";
    }
}


<hr />

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="business_header">

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">

                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">26 December 2019</span>
                            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                            <a href="#" class="blog-slider__button">READ MORE</a>
                        </div>
                    </div>
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">26 December 2019</span>
                            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                            <a href="#" class="blog-slider__button">READ MORE</a>
                        </div>
                    </div>

                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
                        </div>
                        <div class="blog-slider__content">
                            <span class="blog-slider__code">26 December 2019</span>
                            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                            <a href="#" class="blog-slider__button">READ MORE</a>
                        </div>
                    </div>

                </div>
                <div class="blog-slider__pagination"></div>
            </div>
        </div>

        <div class="business-about">

        </div>

        <br /><br /><br />
        <hr />
        <div class="business-employees">
            <div class="container">
                <form class="form-inline">

                    <button type="button" class="btn btn-default btn-circle btn-xl" id="btnGen">
                        <i class="fa fa-plus"></i>
                    </button>
                    <h4> Add Employee </h4>

                    @*<input class="form-control col-1" type="text" id="numPanels" value="17" maxlength="3" />
                <button type="button" class="btn btn-info" id="btnGen">
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                    Add
                </button>*@
                </form>
                <br>
                <hr />
                <div class="row" id="contentPanel">

                </div>
            </div>

            @*Modal starts*@
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form enctype="multipart/form-data" method="post">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"></label>
                                    @*Business.Name*@
                                    <div class="col-sm-10">
                                        <input class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                @*<div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>*@
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Modal ends*@



            @*To be replaced*@
            <div>
                <div class="container">

                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>


        @*image card*@
        @*<div class="card" style="height: 660px;">
            <div class="card-body">
                <h3>@businessName Details</h3>
                <hr />
                <img src="@photoPath" class="img img-thumbnail" alt="@businessName" asp-append-version="true" style="height: 480px" />
            </div>

            <div class="card-footer text-muted">
                <button class="btn btn-warning">Change Profile Picture</button>
            </div>
        </div>*@

        @*about the business*@
        @*<br>*@
        @*<div>
            <hr />
            <h2>
                About Company Page
            </h2><hr />
            <h5 class="card-title">
                Company {company name} specializ in {sector} and has been in operation
                since {operating year/operating month}
            </h5>
            <hr />
        </div>*@

        @*Contact and location form*@
        @*<br>
        <div>
            <h2>
                Company Information
            </h2><hr />
            <form>
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>Phone</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Phone" placeholder="Phone" disabled>
                    </div>
                    <div class="col">
                        <label>
                            <b>Email</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Email" placeholder="Email" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>City</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.City" placeholder="City" disabled>
                    </div>
                    <div class="col">
                        <label>
                            <b>Province</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.Province" placeholder="Province" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <div class="col">
                        <label>
                            <b>Number Of Staffs</b>
                        </label>
                        <input type="text" class="form-control" value="@Model.business.NoOfStaffs" placeholder="NoOfStaffs" disabled>
                    </div>
                    <div class="col">
                        <label asp-for="@Model.business.Country">
                            <b>Country</b>
                        </label>
                        <input type="text" name="Country" class="form-control" value="@Model.business.Country" placeholder="Country" disabled>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <button class="btn btn-primary" id="unlockEdit">Edit Contact Information</button>
                </div>
            </form>
        </div>

        <div>
            @if (Model.business.businessEmployees != null)
            {
                @foreach (var employee in Model?.business?.businessEmployees)
                {
                    var employeeFullname = employee.Firstname + " " + @employee.Lastname;

                    <div class="card">
                        <div class="card-header">
                            <center>
                                <img class="img img-thumbnail" src="@photoPath" alt="@employeeFullname" style="width: 200px; height: 200px" />
                            </center>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Firstname</label>
                                        <p>@employee.Firstname</p>

                                        <label>Lastname</label>
                                        <p>@employee.Lastname</p>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>*@
    </div>

    <div class="col-md-2"></div>
</div>



<script type="text/javascript">
    var swiper = new Swiper('.blog-slider', {
        spaceBetween: 30,
        effect: 'fade',
        loop: true,
        mousewheel: {
            invert: false,
        },
        // autoHeight: true,
        pagination: {
            el: '.blog-slider__pagination',
            clickable: true,
        }
    });

    //=============================================
    //          Employees List
    //=============================================
    //List to be replaced with
    var addCols = function (num) {
        for (var i=1;i<=num;i++)    {
            var myCol = $('<div class="col-sm-3 col-md-3 pb-2">' +
                         '</div>');

            var myPanel = $('<div style="padding: 20px 20px 20px 20px" class="card card-outline-info" id="' + i + 'Panel">' +
                                '<div class="card-block">' +
                                '<center>' + 
                                    '<div class="card-title">' +
                                        '<span>Card #' + i + '</span>' +
                                            '<button type="button" class="close" data-target="#' + i + 'Panel" data-dismiss="alert">' +
                                                '<span class="float-right"><i class="fas fa-times-circle"></i></span>' +
                                            '</button >' +
                                    '</div>' +
                                '</center>' +
                                '<p>Some text in ' + i + ' </p>' +
                                '<img src="//placehold.it/50/eeeeee" class="rounded rounded-circle">' +
                            '</div>' +
                        '</div>');

            myPanel.appendTo(myCol);

            myCol.appendTo('#contentPanel');
        }
    
    
        $('.close').on('click', function(e){
          e.stopPropagation();  
              var $target = $(this).parents('.col-sm-3');
              $target.hide('slow', function(){ $target.remove(); });
        });
    };

    $(document).ready(function(){
        addCols('1');
        return false;
    });

    $( "#btnGen" ).click(function() {
      addCols('1');
      return false;
    });
    //List ends



    $(document).ready(function() {
         // executes when HTML-Document is loaded and DOM is ready
        console.log("document is ready");
  
          $( ".card" ).hover(
          function() {
            $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
          }, function() {
            $(this).removeClass('shadow-lg');
          }
        );
  
        // document ready  
    });

    var myApp = angular.module("jobSeekerModule", [])
                        .controller("jobSeekerController", function ($scope) {
                            var employees =
                            {
                                name: "Ben",
                                gender: "Male",
                                salary: 55000.788
                            };
                             
                             
                             $scope.employees = employees;
                        });


</script>













